body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(120deg, #4facfe, #00f2fe);
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    background: rgba(225, 225, 225, 0.15);
    border-radius: 12px;
    padding: 12px;
    width: 300px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px;
    margin-left: 8px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.weather-info {
    margin-top: 20px;
}